@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");
* {
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "EF_Diary";
  font-size: 1.8rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #a9dfbf;
  border-radius: 60px;
}

figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.hero:nth-child(1) figure {
  background-image: url("img/img1.jpg");
  background-size: cover;
}
.hero:nth-child(2) figure {
  background-image: url("img/img2.jpg");
  background-size: cover;
}
.hero:nth-child(3) figure {
  background-image: url("img/img3.jpg");
  background-size: cover;
}
.hero:nth-child(4) figure {
  background-image: url("img/img4.jpg");
  background-size: cover;
}
.hero:nth-child(5) figure {
  background-image: url("img/img5.jpg");
  background-size: cover;
}
.hero:nth-child(6) figure {
  background-image: url("img/img6.jpg");
  background-size: cover;
}
.hero:nth-child(7) figure {
  background-image: url("img/img7.jpg");
  background-size: cover;
}
.hero:nth-child(8) figure {
  background-image: url("img/img8.jpg");
  background-size: cover;
}
.hero:nth-child(9) figure {
  background-image: url("img/img9.jpg");
  background-size: cover;
}
.hero:nth-child(10) figure {
  background-image: url("img/img10.jpg");
  background-size: cover;
}
.hero:nth-child(11) figure {
  background-image: url("img/img11.jpg");
  background-size: cover;
}
.hero:nth-child(12) figure {
  background-image: url("img/img12.jpg");
  background-size: cover;
}
.hero:nth-child(13) figure {
  background-image: url("img/img13.jpg");
  background-size: cover;
}

.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "EF_Diary";
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 6rem;
  }
}

.content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
}
.content:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}
.content__inner > * + * {
  margin-top: 1.5rem;
}
.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
  font-family: "Courgette", serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
}
@media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-family: "Courgette", serif;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}
.content__author:before,
.content__author:after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #a9dfbf;
}
.content__author:before {
  margin-right: 1rem;
}
.content__author:after {
  margin-left: 1rem;
}

audio {
  visibility: hidden;
}
